body {
    font-family: 'Arial', sans-serif;
}

.text-white-50 {
    color: rgba(255, 255, 255, 0.5) !important;
}

#destinations .card-img-top,
#adventure .card-img-top {
    height: 200px;
    object-fit: cover;
}
#culture h3 {
    margin-top: 20px;
}

.testimonial {
    background: white;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
}
